<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snow.yp.kgdemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".xfomade.ActionBarActivity" />
        <activity android:name=".windowmanger.WindowMangerActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".IPC.ServiceAtivity"
            android:label="@string/title_activity_service_ativity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name=".IPC.MyService" />

        <activity android:name=".opengles.OpenglActivity" />
        <activity
            android:name=".camera.MyCameraActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".tablayout.TablayoutActivity"
            android:theme="@style/NotitleTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".Handler.HandlerActivity" />

        <service
            android:name=".IPC.AidlIPC.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="mu.snow.com.myapplication" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <data
                    android:host="zi"
                    android:scheme="mu" />
                <!--android:path="/chi"-->
                <!--android:port="8888"-->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </service>

        <activity android:name=".IPC.AidlIPC.BookMangerActivity" />
        <activity android:name=".greendao.GreenDaoActivity" />
        <activity android:name=".urlscheme.UrlSchemeActivity">

        </activity>

        <activity android:name=".urlscheme.UrlSchemeSecondActivity">
            <intent-filter>
                <data
                    android:host="zi"
                    android:path="/tiam"
                    android:port="8888"
                    android:scheme="mu" />
                <!--BROWSABLE指定该Activity能被浏览器安全调用-->
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <!--声明自定义scheme，类似于http, https-->
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>
    </application>

</manifest>